# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Secret keys and environment variables
.env
*.key

# Media files
media/

# Static files
staticfiles/

# Database files
db.sqlite3

# Log files
*.log
